resource_group_name                           = "rg-synapse-dev-terraform"
location                                      = "northcentralus"
virtual_network_address_prefix                = "10.10.0.0/16"
bastion_subnet_address_prefix                 = "10.10.1.0/24"
private_endpoint_subnet_address_prefix        = "10.10.0.0/24"
synapse_sql_administrator_login               = "ChangeMe"
synapse_sql_administrator_login_password      = "ChangeMe"
integrate_with_hub                            = false
hub_resource_group_name                       = ""
hub_virtual_network_name                      = "" 
hub_subscription_id                           = ""
tags = {
  environment = "dev"
}
