resource_group_name                                  = "rg-recipe-terraform-004"
dns_zone_resource_group_name                         = "rg-scenario-operations"
location                                             = "northcentralus"
azurerm_api_management_publisher_name                = "Contoso"
azurerm_api_management_publisher_email               = "user@email.com"
custom_domain                                        = "contoso.net"
gateway_custom_domain_hostname                       = "api.contoso.net"
portal_custom_domain_hostname                        = "portal.contoso.net"
management_custom_domain_hostname                    = "management.contoso.net"
gateway_custom_domain_certificate                    = "GEN-SELFSIGNED-CERT-PFXDATA"
portal_custom_domain_certificate                     = "GEN-SELFSIGNED-CERT-PFXDATA"
management_custom_domain_certificate                 = "GEN-SELFSIGNED-CERT-PFXDATA"
trusted_root_certificate                             = "GEN-SELFSIGNED-CERT-CERDATA"
newOrExistingDnsZones                                = "new"
vnet_address_prefix                                  = "10.8.0.0/16"
vnet_subnet_app_service_integration_address_prefixes = "10.8.1.0/24"
vnet_subnet_private_endpoints_address_prefixes       = "10.8.2.0/24"
vnet_subnet_appgw_adddress_prefixes                  = "10.8.3.0/24"
vnet_subnet_apim_adddress_prefixes                   = "10.8.4.0/24"
tags = {
  environment = "dev"
}
